body{
	/*margin reduced to zero*/
	margin: 0;
	/*background colour changed to white*/
	background-color: white;
	font-family: 'Recursive', sans-serif;
	font-size: 17px;
	/*line height is like line spacing in word*/
	line-height: 25px;
}

header{
	/*set background colour of the top header area to black*/
	background-color: #011A27;
	/*set the text and image align to be the centre of the page*/
	text-align: center;
	padding-top: 50px;
	padding-bottom: 20px;
	color: white;
	width: 100%;
}

/*this looks at specifically header and h1 - so setting the colour of the text to white*/
header h1{
	color: white;
	font-size: 100px;
	line-height: 70px;
}

.pagetop{
	position: fixed;
	right:0px;
	bottom:0px;
}

header h2{
	color: white;
	font-size: 20px;
}

header img{
	border-radius: 400px;
	width: 400px;
	border: 5px solid white;
	box-sizing: border-box;
}


h2{
	font-size: 25px;
	margin: 40px 0 10px;
}

main{
	margin: 0px auto;
	padding: 20px;
	/*setting a max width means that people with wide screens don't have to scroll across*/
	max-width: 800px;
	/*setting padding allows for space so that it doesn't look cramped*/
}

footer{
	margin: 0 auto;
	line-height: 25px;
	max-width: 800px;
}

.experimentlearningpage{
	text-align: center;
	font-size: 25px;
}

ul{
	list-style-position: inside;
	padding-left: 0;
}

li{
	list-style-position: inside;
	padding-left: 0;
}

a.main{
	color: #F0810F;
}

/*below is an example of a pseudo-class which changes properties based on what you do*/
a.main:hover{
	color: #E6DF44;
}

input{
	font-size: 20px;
	box-sizing: border-box;
	width: 100%;
}

.standardimage{
	margin-left: auto;
	margin-right: auto;
	display: block;
	border: black 5px;
	padding: 10px;
}

/*Borders for the all of the examples - there is a simple border at the bottom of the each div*/


/*borderbox0 is the first box that means that the margin from the top is a little less than the others so that the page looks good. Aside from that all the border boxes are identical. Positioning is relative so that the borderbox:after attribute can be absolute*/
.borderbox0{
	margin: 20px 0 0 0;
	position: relative;
}

.borderbox1{
	margin: 100px 0 0 0;
	position: relative;
}

/*content is blank because it is simply a workaround to get a border - currently 60px below the bottom of the main border box, with a height of 3px and background colour of black to give the impression of a border just on one end*/
.borderbox1:after, .borderbox0:after{
	content:"";
	position: absolute;
	background-color: black;
	margin: 30px 0 0 0 ;
	left:0;
	right:0;
	bottom: -60px;
	height: 3px
}



.exampletitle{
	text-align: center;
	line-height: 35px;
	color: black;
}


.exampledesc{
	text-align: center;
	line-height: 25px;
	font-size: 17px;
	color: black;
	margin: 20px 0 10px;
}

.examplecaption{
	text-align: center;
	line-height: 18px;
	font-size: 15px;
	color: black;
	margin: 20px 0 10px;
}

/*example of how naming classes can allow me to apply different CSS styles to similar elements*/
.test1{
	font-size: 35px;
	color: #063852;
	display: inline;
}

.test2{
	color: #F0810F;
	font-size: 30px;
	display: inline;
}

.test3{
	background-color: #011A27;
	color:#E6DF44;
	font-size: 23px;
}

.examplebox{
	background-color: lightgrey;
	border: solid 2px;
	padding: 20px;
	overflow: auto;
}

a.gohome{
	color: lightgrey;
}

a.gohome:hover{
	color: green;
	background-color: white;
}

.image1{
	width: 100px;
	float: right;
	clear: right;
	margin: 0 20px;
}

.image2{
	width: 100px;
	float: left;
	clear: left;
	margin: 0 20px;
}

.image3{
	width: 100px;
	float: left;
	clear: left;
	margin: 0 20px;
}

.image4{
	width: 100px;
	float: left;
	clear: left;
	margin: 0 20px;
}

.image5{
	width: 100px;
}

.row{
	background-color: #011A27;
}

/*Because the divs contained in this row div are floating, there needs to be a clear fix applied to this*/
.row:after{
	clear:both;
	display: table;
	content: "";
}

.col{
	color: white;
	margin: 10px;
	float: left;
	padding:10px;
	background-color: #F0810F;
	border: dotted black 5px;
	box-sizing: border-box;

}

.col2{
	color: white;
	margin: 10px;
	float: left;
	padding:10px;
	background-color: green;
	border: dotted black 5px;
	box-sizing: border-box;
	transform: translateX(50px);

}

.col3{
	color: white;
	margin: 10px;
	float: left;
	padding:10px;
	background-color: blue;
	border: dotted black 5px;
	box-sizing: border-box;
	transform: translateY(50px);

}


/*Learning 6*/
/*To be honest... this shouldn't be called static1 - it is a misnamed class because I changed it's position to relative. However let's just keep it that way for my own learning!*/
.static1{
	color: #0C0A3E;
	font-size: 25px;
	background-color: white;
	padding:20px;
	position: relative;
}

.static2{
	color: #7B1E7A;
	font-size: 20px;
	background-color: #F3C677;
	margin: 20px;
}

.relative1{
	color: #7B1E7A;
	font-size: 20px;
	background-color: #F3C677;
	margin: 20px;
	position: relative;
	left: 10px;
}

.relative2{
	color: #7B1E7A;
	font-size: 20px;
	background-color: #F3C677;
	margin: 20px;
	position: relative;
	left: 20px;
}

.relative3{
	color: #7B1E7A;
	font-size: 20px;
	background-color: #F3C677;
	margin: 20px;
	position: relative;
	left: 200px;
}

.absolute1{
	color: #7B1E7A;
	font-size: 20px;
	background-color: #F3C677;
	position: absolute;
	top:0px;
	left:0px;
}

.absolute2{
	color: #7B1E7A;
	font-size: 20px;
	background-color: #F3C677;
	position: absolute;
	top:0px;
	right:0px;
}

.absolute3{
	color: #7B1E7A;
	font-size: 20px;
	background-color: #F3C677;
	position: absolute;
	bottom:0px;
	left:0px;
}

.absolute4{
	color: #7B1E7A;
	font-size: 20px;
	background-color: #F3C677;
	position: absolute;
	bottom:0px;
	right:0px;
}


/*Learning 7*/

.absolute5, .absolute6, .absolute7, .absolute8{
	color: black;
	font-size: 20px;
	position: absolute;
}

.absolute5{
	top: 60px;
	background-color: #FF3E41;
}

.absolute6{
	top: 90px;
	background-color: #883955;
	color: white;
}

.absolute7{
	top: 120px;
	background-color: #4C3549;
	color: white;	
}

.absolute8{
	top: 150px;
	background-color: #FF4D80;	
}

.relative4{
	color: #0C0A3E;
	font-size: 25px;
	background-color: white;
	padding:20px;
	position: relative;
	height: 170px;
}

.absolute9, .absolute10, .absolute11, .absolute12{
	color: black;
	font-size: 20px;
	position: absolute;
}

.absolute9{
	top: 100px;
	background-color: #FF3E41;
}

.absolute10{
	top: 103px;
	background-color: #883955;
	color: white;
}

.absolute11{
	top: 106px;
	background-color: #4C3549;
	color: white;	
}

.absolute12{
	top: 109px;
	background-color: #FF4D80;	
}

.absolute13, .absolute14, .absolute15, .absolute16{
	color: black;
	font-size: 20px;
	position: absolute;
}

.absolute13{
	top: 100px;
	background-color: #FF3E41;#
	z-index: 1;
}

.absolute14{
	top: 103px;
	background-color: #883955;
	color: white;
	z-index: 4;
}

.absolute15{
	top: 106px;
	background-color: #4C3549;
	color: white;
	z-index: 3;	
}

.absolute16{
	top: 109px;
	background-color: #FF4D80;
	z-index: 2;	
}
