body{
	/*margin reduced to zero*/
	margin: 0;
	/*background colour changed to dark blue*/
	background-color: white;
	font-family: 'Crete Round', serif;
}

header{
	/*set background colour of the top header area to black*/
	background-color: #252527;
	/*set the text and image align to be the centre of the page*/
	text-align: center;
	padding-top: 50px;
	padding-bottom: 20px;
}

/*this looks at specifically header and h1 - so setting the colour of the text to white*/
header h1{
	color: white;
	font-size: 58px;
}

h2{
	font-size: 25px;
}

header h2{
	color: white;
	font-size: 20px
}

header img{
	border-radius: 400px;
	width: 400px;
	overflow: hidden;
	border: 4px solid white;
}

main{
	text-align: center;
}

footer{
	margin: 20px;
}

ul{
	text-align: center;
	list-style-position: inside;
	padding-left: 0;
}

li{
	text-align: center;
	list-style-position: inside;
	padding-left: 0;
}